main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  background-color: var(--main-background-color);
  width: 100%;
  height: calc(100vh - 3.75rem);
  max-height: calc(100vh - 3.75rem);
  border-radius: 0.5rem;
}

[data-backdrop] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: 768px) {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
