main {
  display: grid;
  grid-template-columns: 2fr clamp(23rem, 30%, 35rem);
  grid-gap: 2rem;
  padding: 1rem;
  position: relative;
  background-color: var(--main-background-color);
  width: 100%;
  height: calc(100vh - 3.75rem);
  max-height: calc(100vh - 3.75rem);
  border-radius: 0.5rem;
}

.visualization-area {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

[data-backdrop] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: 768px) {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
