main {
  display: grid;
  grid-template-columns: 2fr clamp(23rem, 30%, 35rem);
  grid-gap: 2rem;
  padding: 1rem;
  position: relative;
  background-color: var(--main-background-color);
  width: 100%;
  height: calc(100vh - 3.75rem);
  max-height: calc(100vh - 3.75rem);
  border-radius: 0.5rem;

  > * {
    &:focus-within {
      outline: 1px dashed var(--raider-text-color-faded);
    }
  }
}

.visualization-area {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

[data-backdrop] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: 768px) {
    align-items: flex-end;
    justify-content: flex-start;
  }
}

.css-skip-links__item {
  --skip-link-background: var(--raider-selected-item);
  --skip-link-color: var(--raider-background-color);
  position: absolute;
  top: 0.875rem;
  left: 3.5rem;
  right: auto;
  font-size: 0.875rem;
  font-family: sans-serif;
  background: var(--skip-link-background, #111);
  color: var(--skip-link-color, #fff);
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 2rem;
  padding: 0 1rem;
  appearance: none;
  text-align: center;
  text-decoration: none;
  height: 2rem;
  min-width: 10rem;
  z-index: 100;
  border-radius: 2rem;
}
.css-skip-links__item:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  white-space: nowrap;
}
