:root {
  --raider-selected-item: hsl(142, 76%, 50%);
  --raider-viz-stroke: hsl(141, 14%, 24%);
  --raider-background-color: #000000;
  --raider-main-background-color: hsl(0, 0%, 10%);
  --raider-title-color: #ffffff;
  --raider-text-color: #fcfcfc;
  --raider-text-color-faded: #757575;
  --raider-border-color: #2a2a2a;
}
