.search {
  display: flex;
  width: 100%;
  background-color: var(--header-background-color);
  font-size: 1rem;
  flex-direction: column;

  @media all and (min-width: 60rem) {
    max-width: clamp(30rem, 50vh, 40rem);
  }
}
