.toolbar {
  content: "";
  position: absolute;
  top: 2rem;
  left: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 0.5rem;

  &__button {
    min-width: 3rem;
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
