.chart {
  transition: all 200ms ease-in-out;

  &__node {
    --node-transform-zoom: matrix(1, 0, 0, 1, 0, 0);

    transform: var(--node-transform-zoom);
  }

  &__background,
  &__container {
    border-radius: var(--raider-main-border-radius);
  }

  &__background {
    --chart-background-image: none;

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--raider-main-background-color);
    background-image: var(--chart-background-image);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.125;
    filter: blur(8px);
    transition: background-image 1000ms ease-in-out;
  }

  &__container {
    position: relative;
    z-index: 0;
    display: grid;
    place-items: center;
  }
}

.node {
  position: relative;
  outline: none;
  border-radius: 0.5rem;

  &__background {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    stroke: hsl(142deg 67% 34% / 44%);
    stroke-width: 2px;
    fill: hsl(142deg 67% 34% / 53%);
    opacity: 0;
    transition: all 150ms ease-in-out;
  }

  &:hover {
    .node__background {
      opacity: 0.5;
    }
  }

  &:focus {
    .node__background {
      opacity: 1;
      stroke: var(--raider-text-color);
    }
  }

  &:focus-visible {
    .node__background {
      fill: rgba(29, 145, 72, 0.815);
    }
  }

  &[aria-expanded="false"] {
    cursor: zoom-in;
  }

  &[aria-expanded="true"] {
    .node__background {
      opacity: 0.75;
    }

    &:after {
      content: "";
      position: absolute;
      display: flex;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background-color: var(--raider-selected-item);
      top: -0.5rem;
      right: 0;
      z-index: 1;
    }
  }
}

.artist__image {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  stroke: var(--raider-border-color);
  stroke-width: 3px;
}

.artist__text {
  font-size: 0.75rem;
}
