.chart {
  transition: all 200ms ease-in-out;

  &__background,
  &__container {
    border-radius: var(--raider-main-border-radius);
  }

  &__background {
    --chart-background-image: ;

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--raider-main-background-color);
    background-image: var(--chart-background-image);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.125;
    filter: blur(8px);
    transition: background-image 1000ms ease-in-out;
  }

  &__container {
    position: relative;
    z-index: 0;
    display: grid;
    place-items: center;
  }
}

.node {
  position: relative;
  outline: none;
  border-radius: 0.5rem;

  &__background {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    stroke: hsl(142deg 67% 34% / 44%);
    stroke-width: 2px;
    fill: hsl(142deg 67% 34% / 53%);
    opacity: 0;
    transition: all 150ms ease-in-out;
  }

  &:hover {
    .node__background {
      opacity: 0.75;
    }
  }

  &:focus {
    .node__background {
      opacity: 1;
    }
  }

  &:focus-visible {
    .node__background {
      fill: rgba(29, 145, 72, 0.815);
    }
  }

  &[aria-expanded="false"] {
    cursor: zoom-in;
  }

  &[aria-expanded="true"] {
    cursor: zoom-out;

    &:after {
      content: "";
      position: absolute;
      display: flex;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background-color: var(--raider-selected-item);
      top: -0.5rem;
      right: 0;
    }
  }
}

.artist__image {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  stroke: var(--raider-border-color);
  stroke-width: 3px;
}

.artist__text {
  font-size: 0.75rem;
}

.artistDialog {
  &__toggle {
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: auto;
    height: 2rem;
    border-radius: 3rem;
    background-color: var(--raider-main-background-color);
    color: var(--raider-text-color);
    outline: 2px solid var(--raider-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 0 1rem;

    svg {
      width: auto;
      height: 1rem;
    }

    &:focus,
    &:hover {
      background-color: var(--raider-selected-item);
      color: var(--raider-background-color);
    }

    &:focus {
      outline-color: var(--raider-text-color);
    }
  }

  &__dialog {
    position: relative;
    z-index: 50;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    height: fit-content;
    max-height: calc(100% - 1rem * 2);
    width: 100%;
    max-width: calc(100% - 1rem * 2);
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    border-radius: var(--raider-main-border-radius);
    background-color: var(--raider-main-background-color);
    padding: 1rem;
    color: var(--raider-text-color);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    &:focus-visible,
    &[data-focus-visible] {
      outline: 2px solid hsl(204 100% 40%);
      outline-offset: 2px;
    }

    @media (min-width: 640px) {
      width: 420px;
      margin-right: 2rem;
      padding: 1.5rem;
    }

    @media (min-width: 768px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
      max-height: calc(100% - 6rem * 2);
    }
  }

  &__dismiss {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    color: var(--raider-text-color);

    svg {
      fill: currentColor;
      width: 1rem;
      height: 1rem;
    }
  }

  &__heading {
    margin: 0px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
}
